
@{
    ViewBag.Title = "AggiungiUtenteEPrenotazione";
}

@model ProgettoSettS6L5.Models.RegistraClientePrenotazione

<div class="container mt-2">
    <h2 class="text-center mb-4">Aggiungi Utente E Prenotazione</h2>

    @if (TempData["IsSuccess"] != null)
    {
        <div class="my-5 alert alert-success alert-dismissible fade show" role="alert">
            <strong>Successo!</strong> @TempData["IsSuccess"].
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }


    @using (Html.BeginForm("RegistraUtenteEPrenotazione", "Prenotazione"))
    {
        <div class="row my-5">
            <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
                <h3 class="fw-bold">Inserisci dati del Cliente:</h3>
                
                @Html.LabelFor(model => model.Cliente.Email, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Cliente.Email, new { htmlAttributes = new { @class = "form-control" } })
                
                @Html.LabelFor(model => model.Cliente.Nome, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Cliente.Nome, new { htmlAttributes = new { @class = "form-control" } })
                
                @Html.LabelFor(model => model.Cliente.Cognome, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Cliente.Cognome, new { htmlAttributes = new { @class = "form-control" } })
                
                @Html.LabelFor(model => model.Cliente.CodiceFiscale, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Cliente.CodiceFiscale, new { htmlAttributes = new { @class = "form-control" } })
                
                @Html.LabelFor(model => model.Cliente.Citta, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Cliente.Citta, new { htmlAttributes = new { @class = "form-control" } })
                
                @Html.LabelFor(model => model.Cliente.Provincia, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Cliente.Provincia, new { htmlAttributes = new { @class = "form-control" } })
                
                @Html.LabelFor(model => model.Cliente.Telefono, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Cliente.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>

            <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
                <h3 class="fw-bold">Inserisci dati della Prenotazione:</h3>
           
                @Html.LabelFor(model => model.Prenotazione.DataPrenotazione, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Prenotazione.DataPrenotazione, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                
                @Html.LabelFor(model => model.Prenotazione.PeriodoSoggiornoInizio,  new { @class = "form-label mt-2" } )
                @Html.EditorFor(model => model.Prenotazione.PeriodoSoggiornoInizio, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
               
                @Html.LabelFor(model => model.Prenotazione.PeriodoSoggiornoFine, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Prenotazione.PeriodoSoggiornoFine, new { htmlAttributes = new {@class = "form-control", @type = "datetime-local" } })
                
                @Html.LabelFor(model => model.Prenotazione.Caparra, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Prenotazione.Caparra, new { htmlAttributes = new { @class = "form-control" } })
                
                @Html.LabelFor(model => model.Prenotazione.TariffaApplicata, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Prenotazione.TariffaApplicata, new { htmlAttributes = new { @class = "form-control" } })
                
                @Html.LabelFor(model => model.Prenotazione.DettagliPrenotazione, new { @class = "form-label mt-2" })
                @Html.EditorFor(model => model.Prenotazione.DettagliPrenotazione, new { htmlAttributes = new { @class = "form-control" } })
                
                <!-- foreach per le camere -->
                @Html.LabelFor(model => model.Prenotazione.NumeroCameraId, new  { @class = "form-label"})
                <select name="numeroCameraId" class="form-select">
                    @foreach (var camera in ViewBag.Camere)
                    {
                        <option value="@camera.IdNumeroCamera">@camera.IdNumeroCamera</option>
                    }
                </select>
            </div>
        </div>

        <div class="my-5 text-center">
            <button class="btn btn-primary btn-lg p-3">Registra Cliente e Prenotazione</button>
        </div>
    }
</div>
