
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<section>

    <h3>Dettagli Prenotazione</h3>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Numero Stanza</th>
                <th>Da</th>
                <th>A</th>
                <th>Tariffa Giornaliera</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@ViewBag.Prenotazione.Id</td>
                <td>@ViewBag.Prenotazione.NumeroCameraId</td>
                <td>@ViewBag.Prenotazione.PeriodoSoggiornoInizio.ToShortDateString()</td>
                <td>@ViewBag.Prenotazione.PeriodoSoggiornoFine.ToShortDateString()</td>
                <td>@ViewBag.Prenotazione.TariffaApplicata</td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h3>Dettagli Servizi</h3>
    <table>
        <thead>
            <tr>
                <th>Tipologia</th>
                <th>Quantità Totale</th>
                <th>Prezzo Totale</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var servizio in ViewBag.ListaServizi)
            {
                <tr>
                    <td>@servizio.Tipologia</td>
                    <td>@servizio.TotaleQuantita</td>
                    <td>@servizio.TotalePrezzo</td>
                </tr>
            }
        </tbody>
    </table>
</section>

<section class="text-lg-end">
    <p ><strong>Totale Conto:</strong> @ViewBag.ImportoTotale €</p>
</section>

