
@{
    ViewBag.Title = "Index";
}

<h2 class="mt-4">Benvenuto Dipendente</h2>

<div class="row">
    <div class="col-md-6">

        <p><em>Cosa vuoi fare?</em></p>
        <div class="btn-group">
            @Html.ActionLink("Registra Utente e Prenotazione", "AggiungiUtenteEPrenotazione", null, new { @class = "btn btn-info" })
            @Html.ActionLink("Aggiungi Servizi", "AggiungiServizi", null, new { @class = "btn btn-warning" })
        </div>
        <p class="mt-2"><em>Aggiungi solo Cliente o solo Prenotazione</em></p>
        <div class="btn-group">
            @Html.ActionLink("Aggiungi Cliente", "AggiungiUtente", null, new { @class = "btn btn-info" })
            @Html.ActionLink("Aggiungi Prenotazione", "AggiungiPrenotazione", null, new { @class = "btn btn-warning" })
        </div>

    </div>
</div>

<div class="row mt-2">
    <div class="col-md-4">

        <h3 class="mb-1">Chekout Clienti</h3>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="idPrenotazione">Scegli un utente attraverso il suo codice fiscale:</label>
                @*<select name="idPrenotazione" class="form-control">
                    <option value="" data-codiceFiscale="">-- Seleziona Codice Fiscale --</option>
                    @foreach (var prenotazione in ViewBag.Prenotazioni)
                    {
                        <option value="@prenotazione.Id" data-codiceFiscale="@prenotazione.CodiceFiscaleCliente">@prenotazione.CodiceFiscaleCliente</option>
                    }
                </select>*@

                <select name="idPrenotazione" class="form-control">
                    <option value="" data-codiceFiscale="">-- Seleziona Codice Fiscale --</option>
                    @foreach (var cliente in ViewBag.Clienti)
                    {
                        <option value="@cliente.CodiceFiscale" data-codiceFiscale="@cliente.CodiceFiscale">@cliente.CodiceFiscale - @cliente.Cognome - @cliente.Nome</option>
                    }
                </select>
            </div>

            <div class="form-group mt-2">
                <label for="selectIdPrenotazione">Scegli una prenotazione:</label>
                <select name="selectIdPrenotazione" id="selectPrenotazione" class="form-control">
                    <option value="">-- Seleziona Prenotazione --</option>
                </select>
            </div>

            <button id="checkoutBtn" class="btn btn-success mt-3">Vai al Checkout</button>
        }

    </div>


    <div class="col-md-6">
        <section id="dettagliPrenotazione">
        </section>
    </div>

</div>

<section class="col-md-12 mt-5">
    <p><strong>Totale Prenotazioni "Pensione Completa":</strong> <span id="totalePrenotazioniPensioneCompleta"></span></p>
</section>


@section scripts {

    <script>
        $(document).ready(function () {



        // rilevo il cambio nella select
        $('select[name="idPrenotazione"]').on('change', function () {
            var idPrenotazione = $(this).val();
            var codiceFiscale = $('option:selected', this).data('codicefiscale');

            // resetto ogni volta la select
            var selectPrenotazione = $('#selectPrenotazione');
            selectPrenotazione.empty();
            selectPrenotazione.append('<option value="">-- Seleziona Prenotazione --</option>');



            if (idPrenotazione == "") {
                $('#dettagliPrenotazione').html("");

            } else {

      // sparo la fetch
            $.ajax({
                url: '@Url.Action("GetAllPrenotazioniByCodiceFiscale", "Prenotazione")',
                type: 'POST',
                data: { codiceFiscale: codiceFiscale },
                success: function (data) {
                    // Creo struttura tabella
                    var dettagliPrenotazioneHtml = `
                        <h3>Prenotazioni del Cliente Attuale</h3>
                        <table class="table table-striped my-4">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Codice Fiscale</th>
                                    <th>Data Prenotazione</th>
                                    <th>Da</th>
                                    <th>A</th>
                                    <th>Caparra</th>
                                    <th>Tariffa Giornaliera</th>
                                    <th>Dettaglio Prenotazione</th>
                                    <th>Numero Camera</th>
                                </tr>
                            </thead>
                        <tbody>
                        `;

                        // popolo tabella e select
                    $.each(data, function (index, prenotazione) {
                        console.log(prenotazione.DataPrenotazione)
                        var timestampPrenotazione = parseInt(prenotazione.DataPrenotazione.match(/\d+/)[0], 10);
                        var timestampInizio = parseInt(prenotazione.PeriodoSoggiornoInizio.match(/\d+/)[0], 10);
                        var timestampFine = parseInt(prenotazione.PeriodoSoggiornoFine.match(/\d+/)[0], 10);

                        var dataPrenotazione = new Date(timestampPrenotazione)
                        var dataInizio = new Date(timestampInizio)
                        var dataFine = new Date(timestampFine)

                        dettagliPrenotazioneHtml += `
                        <tr>
                            <td>${prenotazione.Id}</td>
                            <td>${codiceFiscale}</td>
                            <td>${dataPrenotazione.toLocaleDateString("it-IT") }</td>
                            <td>${dataInizio.toLocaleDateString("it-IT") }</td>
                            <td>${dataFine.toLocaleDateString("it-IT") }</td>
                            <td>${prenotazione.Caparra}</td>
                            <td>${prenotazione.TariffaApplicata}</td>
                            <td>${prenotazione.DettagliPrenotazione}</td>
                            <td>${prenotazione.NumeroCameraId}</td>
                        </tr>`

                        // popolo la select
                        selectPrenotazione.append(`<option value="${prenotazione.Id}">${prenotazione.Id} - ${prenotazione.DettagliPrenotazione} - ${dataPrenotazione.toLocaleDateString("it-IT")}</option>`);


                    });

                    dettagliPrenotazioneHtml += '</tbody></table>';

                    // Aggiorno la section
                    $('#dettagliPrenotazione').html(dettagliPrenotazioneHtml);


                },
                error: function (error) {
                    console.error(error);
                }
            });

            }
            });


             // recupero totale prenotazioni pensione completa

     // Esegui la richiesta AJAX
     $.ajax({
         url: '@Url.Action("GetTotalePrenotazioniPensioneCompleta", "Prenotazione")',
         type: 'GET',
         dataType: 'json',
         success: function (data) {
             // Manipola il valore restituito, ad esempio, aggiornando un elemento HTML
             $('#totalePrenotazioniPensioneCompleta').text(data);
         },
         error: function (error) {
             console.error(error);
         }
     });
    });



    </script>
}
